body {
  background-color: rgb(237, 193, 193);
}

.container {
  position: relative;
  width: 600px;
  height: auto;
  margin-top: 3em;
  left: 24%;
  transform: translateX(-50%);
  padding: 21px;
  background: #655b59;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 0 3px 21px 0px rgba(0, 0, 0, 0.1);
}


h1 {
  color: rgb(251, 45, 45);
  text-align: center;
  font-size: 60px;
  font-family:fantasy;
  font-weight: 900;
}

.button {
  color:rgb(237, 193, 193);
  background-color: black;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 0 3px 21px 0px rgba(0, 0, 0, 0.1);

}
